/* you will add css rules for element selectors and IDs */
html{
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}

/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #333;
}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li{
  margin: 0;
  margin-left: 1rem;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    padding: 30px;
}

article{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0px 40px;
}

  #cougar{
    background: #B26219;
    color: #000;
    flex: 1 1 auto;
  }

  #lion{
    background: #FFD5AE;
    color: #333;
    flex: 1 1 auto;
  }

  #tiger{
    background: #FFBD82;
    color: #333;
    flex: 1 1 auto;
  }

  section{
    width: 38rem;
  }

  .text {
    padding: 1rem;
    font-size: 1em;
    line-height: 20px;
  }

  p{
    padding: 0 0 0 2rem;
  }

  h2{
    text-align: left;
    padding: 0 0 0 2rem;
  }

footer{
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 0.90em;
  padding: 0.75rem;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
}
